.full_service_bank_img {
	background-image: url('../../images/about-aya/ayabank-profile/full_service_bank.webp');
	background-size: cover;
	height: 370px;
}
.corporate_information_icon {
	width: 50%;
	border: 1px solid #ccc;
}