
/* =============================================================================
   /// Demo
   ========================================================================== */

#Head {width:900px; height:38px; display:block; margin:0 auto; padding:0px 0px 0px 0px;}

.Logo{}
.Logo h2 em { color:#F00; font-style:normal;}

#Demo { display:block; float:left; width:100%; clear:both; overflow:hidden; }
#resizer { overflow:hidden;margin: 0px auto !important; border: 1px solid #ccc;}
#Description {  padding:0px; width:100%; margin:20px 0px; overflow:hidden;}
#Description .Specs { width:900px; margin:0 auto; padding:40px 0px; }
#Description .Specs p{ line-height:1.5em; font-size:12px; color:#444; }
#Description .Specs ul.List { margin:20px 0px; padding:0px;}
#Description .Specs ul.List li {line-height:1.5em; font-size:12px; color:#444; padding:6px 0px 6px 23px; background: url(../images/tick.png) 0px 6px no-repeat;}

ul.viewlist li a { text-decoration:none;}
ul.viewlist li:hover{ background:#383838;}
ul.viewlist li.Label { cursor: pointer; cursor: hand;  display: inline-block;font-size: 11px; color:#FDD18F;width:104px;border-right: 1px solid #555;padding: 13px 0px 13px 46px; background:url(../images/logo.png) 4px 10px no-repeat;}
ul.viewlist li.Label:hover { cursor: pointer; cursor: hand;  background:url(../images/logo.png) 4px 10px no-repeat #000;}

#Foot {width:900px; margin:0 auto; padding:10px 0px 24px 0px; }
#Foot p {line-height:1.5em; font-size:12px; color:#BFC4C1; }




/* =============================================================================
   HTML5 Reset / Display Role
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin:0; font-size: 1em; line-height: 1; }

h1,h2,h3,h4,h5,h6 {text-decoration:none;padding:0;color:#444;margin:0;}
p {padding:7px 0 0 0;}

a {color:#F0610E;text-decoration:none;}
a:focus {outline:0;}
a:hover, a:active {outline:0;}
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
.clear {clear:both;}
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small {font-size:90%;}
blockquote {background-image:url(images/quotes.png),url(images/quotes.png);background-position:-38px 4px, 505px bottom;
background-repeat:no-repeat,no-repeat;background-color:#EEE;border:1px solid #DDD;margin:10px 0;padding:10px 30px;border-radius:3px;}
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul { margin:0; padding:0; list-style: none; }
ol {margin:15px;}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


.border-cont {
  border: 1px solid #707070;
  padding: 13px;
  float: left;
  border-radius: 3px;
}

#footernoticetoggler {
  width: 19px;
  height: 19px;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(255,222,0,1);
  color: #000;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  display: inline-block;
}

.eager {
				background-color:#8BAA20;
				color: #FFF;
				font-size: 22px;
				padding:18px 18px;
				border: 1px solid #7E9920;
				text-shadow: 1px 1px 0 #7E9920;
			}
			.eager:hover {
				background-color:#7E9920;
				color: #fff;
				border: 1px solid #768E1C;
			}
			
			/* NEW BUTTON STYLES */
			a.button, input[type="submit"], input[type="button"] {
				border: 1px solid rgba(0, 0, 0, 0.1);
				-webkit-box-shadow: 0 1px 1px rgba(200, 200, 200, 0.4) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0 1px 1px rgba(200, 200, 200, 0.4) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
				box-shadow: 0 1px 1px rgba(200, 200, 200, 0.4) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
				cursor: pointer;
				display: inline-block;
				font-family: Arial, Helvetica, Sans-Serif;
				font-weight: 700;
				line-height: normal !important; /* normalizes this across browsers, so padding will look the same across browsers */
				text-align: center;
				text-decoration:none;
				-webkit-transition: border-color .218s;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				color:#fff!important;
			}
			/* fixes padding issues in firefox as well */
			input::-moz-focus-inner,
			button::-moz-focus-inner { padding:0; border:0; }

			a.button:active, input[type="submit"]:active {
				-webkit-box-shadow: inset 0 0 5px #555;
				-moz-box-shadow: inset 0 0 5px #555;
				box-shadow: inset 0 0 5px #555;
			}




	
